*{
    margin:0;
    padding:0;
    box-sizing: border-box;
} 

.main-container{
    display: flex;
    flex-direction: row;
}

.sidebar{
     background-color: black;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     color:white;
     height:calc(100vh - 90px ) ;
     width: 60px;
    
}

.sidebar section{
    display: flex;
     flex-direction: column;
     justify-content: flex-start;
}

.sidebar span{
    
    margin-bottom: 1rem;
   
}

.none{
    display: none;
}


.contenitore{
    width: 576px;
  
}
.cta {
    display: flex;
    background-color: #080b12;
    justify-content: flex-end;
    width: calc(100vw - 60px);
    position: sticky;
    top: 0;
    
    
    }

    .cta button{
        margin: 3rem 1rem 3rem 0rem;
        height: 3.5rem;
        width: 15rem;
        
    }
     main{
        background-color: #141922;
        overflow: auto;
        height: calc(100vh - 90px);
        width: calc(100vw - 60px);
     }
   
    nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        padding: 2rem;
        flex-wrap: wrap;
    }
    
    nav a {
        
        padding: 1rem;
        text-decoration: none;
        color: #5b5e64;
    }
    
    .cards h1, h3{
        color: white;

    }
    .cards h1{
        padding-left: 0.5rem;
    }
    
    .cards h3{
        padding-top: 1rem;
    }
    .cards p{
         padding-top: 0.5rem;
        color: #75787d;
    }
    
    .riga{
        display: flex;
        flex-direction: row;
        
       
        padding: 2rem 0rem 0rem 1rem;
        flex-wrap: wrap;
    }
    .colonna{
        display: flex;
        flex-direction: column;
        width: 10rem;
        height: 16rem;
    }



    footer{
        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color:#282828 ;
        width: 100vw;
        height: 90px;
       
        
    }

    .music-bar{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
  .music-bar span {
    display: inline-block;
}

/******** S******/
@media screen and (min-width:577px){
      
   
    .sidebar{
        width: 200px;

    }
   
    .none{
        display: flex;
        flex-direction: column;
    }
    
    
    
    main{
        width: calc(100vw - 158px);
    }

    .cta{
        width: calc(100vw - 158px);
    }
}

